* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.topsec {
  background-color: rgb(32, 32, 49);
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 30px 350px 100px 350px;
  row-gap: 100px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 26px;
}

.land {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.leftland {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  width: 500px;
  flex: 0 1 auto;
}

.leftland p {
  font-size: 18px;
}

h1 {
  font-size: 40px;
  margin-bottom: 0px;
}

.rightland {
  display: flex;
  align-items: center;
}

.rightland img {
  max-width: 100%;
}

.leftland button {
  background-color: rgb(29, 119, 255);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border-style: none;
}

/* --------------------------------------------- */

.imgsec {
  background-color: rgb(255, 255, 255);
  color: rgb(4, 4, 63);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 40px 350px;
  row-gap: 40px;
}

.imgheader {
margin: auto;
}

h2 {
  font-size: 30px;
  margin: 0px;
}

.images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 40px;
}

.images div {
  display: flex;
  flex-flow: column wrap;
  width: 180px;
  text-align: center;
  margin: 0px auto;
}

.images div img {
  height: 180px;
  width: 180px;
  border: 5px solid rgb(0, 140, 255);
  border-radius: 20px;
}

/* --------------------------------------------- */

.quotesec {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 400px;
  min-height: 400px;
}

.quotesec p {
  font-size: 40px;
  margin: 0px;
}

.quotesec h3 {
  font-size: 20px;
  margin: 0px 0px 0px auto;
}

/* --------------------------------------------- */

.signupsec {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 350px;
}

.bluebox {
  background-color: rgb(29, 119, 255);
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 40px 180px;
  border-radius: 20px;
  align-items: center;
  gap: 30px;
}

.bluebox h3 {
  margin: 0px;
  font-size: 24px;
}

.bluebox p {
  margin-top: 6px;
  margin-bottom: 0px;
}

.bluebox button {
  padding: 8px 20px;
  color: white;
  background-color: transparent;
  border: 2px white solid;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.footer {
  background-color: rgb(2, 2, 34);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}